<ion-content id="page2" >
  <div  class="spacer" style="width:320px;height:16px;" id="today-spacer20"></div>
  <form id="today-form4">
    <ion-searchbar (ionCancel)="endsearch()" (ionInput)="getItems($event)" placeholder="search your food" name="" id="today-search2" showCancelButton="true"></ion-searchbar>
  </form>
  <div class="list" style="height:100%;" *ngIf="issearch==true">
  <ion-list >
    <ion-item *ngFor="let item of items" (click)="goToFoodConfirm(item)">
      {{ item }}
    </ion-item>
    <button id="searchResults-button9" ion-button color="stable" block on-click="goToManuallyAddFood()">
      <ion-icon name="create"></ion-icon>
      Manually Add Food
    </button>
  </ion-list>
</div>
  <div  class="today-container2" id ="today-container2" style="height:400px;"></div>
  <div  class="spacer" style="width:320px;height:36px;" id="today-spacer18"></div>
  <h4   id="today-heading1" style="color:#3F3E3E;text-align:center;">
    Food Suggestion
  </h4>
  <ion-list id="today-list5">
    <ion-item-sliding>
      <ion-item color="none" on-click="goToFoodConfirm()" id="today-list-item5">
        <ion-thumbnail item-left>
          <img src="assets/img/Z1oE4n19TTuFOAgZqjUV_Apple-Fruit-PNG-Transparent-Image.png" />
        </ion-thumbnail>
        <h2>
          Apple
        </h2>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="assertive">
          No
        </button>
        <button ion-button color="balanced">
          Yes
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>