<ion-content padding id="page8">
  <h1 id="foodConfirm-heading2" style="color:#5A5555;text-align:center;">
    {{food}}
  </h1>
  <div>
    <img [attr.src]="image"/>
  </div>
  <div id="foodConfirm-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;font-size:20px;">
      <strong>
        {{foodnumber.value}}
      </strong>
    </p>
  </div>
  <form id="foodConfirm-form16">
    <ion-item id="foodConfirm-range1">
      
      <ion-range min="1" max="20" step="1" color="positive" value="1" #foodnum>
        <ion-label range-left>
          Quantity
        </ion-label>
      </ion-range>
    </ion-item>
  </form>
  <button id="foodConfirm-button26" ion-button clear color="light"></button>
  <button id="foodConfirm-button27" ion-button clear color="light"></button>
  <button id="foodConfirm-button28" ion-button clear color="light"></button>
  <button id="foodConfirm-button24" ion-button icon-right color="light" small end (click)="btnfavor()">
    <ion-icon name="heart" *ngIf="favor==true"></ion-icon>
    <ion-icon name="heart-outline" *ngIf="favor==false"></ion-icon>
    Add to Favourite
  </button>
  <button id="foodConfirm-button4" ion-button color="balanced" block icon-left on-click="Addfood()">
    <ion-icon name="checkmark-circle"></ion-icon>
    Yes
  </button>
  <button id="foodConfirm-button5" ion-button color="assertive" block icon-left on-click="Back()">
    <ion-icon name="close-circle"></ion-icon>
    No
  </button>
</ion-content>